<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%=name %>
    <%=product %>
    <% for (let i = 0; i < product.length; i++) { %>
    <div>상품 <%=i %></div>
    <% } %>


    <!-- ejs 태그 안에 오는 자바스크립트 코드는 한줄로 끝나야함. -->


    <!-- ejs 태그 안에 바로 =이 오면 = 뒤에 있는 변수나 값을 html로 노출 시킨다.-->
    <%="hello" %>
    <!-- ejs 태그 안에 바로 -가 오면 - 뒤에 있는 변수나 값을 html로 노출 시킨다.-->
    <%-include("index.ejs")%>
  </body>
</html>